body {
    margin: 0;
    background-color: rgb(181, 181, 181);
}
.card {
    background-color: rgb(145, 145, 145);
    color: black;
    margin: 20px auto;
    padding: 10px;
}
.card img {
    padding-bottom: 10px;
}